<div class="container margem-content animation-class">

  <h2 class="titulo-pagina text-center">Contato</h2>
  <span class="underline"></span>

  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="row mt-4 text-center">
      <div class="col-md-6 my-5">

        <div class="my-3">
          <input id="input-nome" class="p-1 w-75" type="text" [formControl]="nome" placeholder="Digite seu nome">
          <div class="mt-1 ml-5 pl-5" *ngIf="nome.invalid && (nome.dirty || nome.touched)">
            <span class="mensagem-campo-preenchido-invalido">{{mensagemErro}}</span>
          </div>
        </div>

        <div class="my-3">
          <input id="input-assunto" class="p-1 w-75" type="text" [formControl]="assunto" placeholder="Digite o assunto">
          <div class="mt-1 ml-5 pl-5" *ngIf="assunto.invalid && (assunto.dirty || assunto.touched)">
            <span class="mensagem-campo-preenchido-invalido">{{mensagemErro}}</span>
          </div>
        </div>
      </div>

      <div class="col-md-6 my-5">
        <div class="my-3">
          <input id="input-email" class="p-1 w-75" type="text" [formControl]="email" placeholder="Digite seu e-mail">
          <div class="mt-1 ml-5 pl-5" *ngIf="email.invalid && (email.dirty || email.touched)">
            <span class="mensagem-campo-preenchido-invalido">{{mensagemErro}}</span>
          </div>
        </div>

        <div class="my-3">
          <input id="input-telefone" class="p-1 w-75" type="text" [formControl]="telefone" placeholder="Digite seu telefone">
          <div class="mt-1 ml-5 pl-5" *ngIf="telefone.invalid && (telefone.dirty || telefone.touched)">
            <span class="mensagem-campo-preenchido-invalido">{{mensagemErro}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-12">

        <div class="my-3">
          <textarea [(ngModel)]="contadorCaracteres" id="textarea-mensagem" type="text" maxlength="500"
            [formControl]="mensagem" placeholder="Digite sua mensagem"></textarea>
        </div>
        <div class="ml-5 pl-5 margem-negativa-spans-textarea" *ngIf="mensagem.invalid && (mensagem.dirty || mensagem.touched)">
          <span class="mensagem-campo-preenchido-invalido-textarea">{{mensagemErro}}</span>
        </div>
        <div class="margem-negativa-spans-textarea"
          *ngIf="((mensagem.dirty || mensagem.touched) && ((contadorCaracteres.length > 0) && (contadorCaracteres.length < 500)))">
          <span class="contador-caracteres">Você ainda tem {{500 - contadorCaracteres.length}} caracteres</span>
        </div>
        <div class="margem-negativa-spans-textarea"
          *ngIf="((mensagem.dirty || mensagem.touched) && (contadorCaracteres.length == 500))">
          <span class="contador-caracteres">Você não possui mais caracteres disponíveis</span>
        </div>

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12 text-center mt-2">
        <button class="btn btn-primary botao-snippet" type="submit" [disabled]="contactForm.invalid">Enviar mensagem</button>
      </div>
    </div>

  </form>


</div>
