<footer>
  <div class="container">
    <div class="row mt-4 text-center">
      <div class="col-md-4 text-center criado-por">
        Created by <label class="font-weight-bold">Mateus Santos Fonseca</label>
      </div>
      <div class="col-md-4 text-center ano-atual">
        &copy; {{anoAtual}}
      </div>
      <div class="col-md-4 text-center div-icones">
        <a target="_blank" href="https://api.whatsapp.com/send?phone=+55318208-6393&text=Olá, Mateus! Ví seu perfil e gostaria de entrar em contato!"><i class="fa fa-whatsapp icones-redes-sociais" style="color: rgb(11, 175, 11);"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/mateus-santos-fonseca/"><i class="fa fa-linkedin icones-redes-sociais" style="color: #2867B2;"></i></a>
        <a target="_blank" href="https://github.com/MateusSantosFonseca/"><i class="fa fa-github icones-redes-sociais" style="color: #24292E;"></i></a>
        <a target="_blank" href="https://www.instagram.com/_mateussantoss/"><i class="fa fa-instagram icones-redes-sociais" style="color: #bc2a8d;"></i></a>
        <a target="_blank" href="https://www.facebook.com/mateus.fonsecaa"><i class="fa fa-facebook icones-redes-sociais" style="color: #3b5998;"></i></a>
      </div>
    </div>
  </div>
</footer>
