<header class="margem-header">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <a class="nav-nome" routerLink="/home">
          Mateus Fonseca
        </a>
      </div>
      <!--Ver como funciona router para aplicar router links-->
      <div class="col-md-6 ">
        <a class="nav-links mx-2" routerLink="/contato">Contato</a>
        <a class="nav-links mx-2" routerLink="/habilidades">Habilidades</a>
        <a class="nav-links mx-2" routerLink="/historico">Histórico</a>
        <a class="nav-links mx-2" routerLink="/experiencias">Experiência</a>
        <a class="nav-links mx-2" routerLink="/home">Home</a>
      </div>
    </div>
  </div>




</header>
