/* You can add global styles to this file, and also import other style files */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@font-face {
  font-family: Lato-Regular;
  src: url(assets/fonts/Lato-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Roboto-Regular;
  src: url(assets/fonts/Roboto-Regular.ttf) format("opentype");
}

@font-face {
  font-family: Roboto-Light;
  src: url(assets/fonts/Roboto-Light.ttf) format("opentype");
}

@font-face {
  font-family: Baars;
  src: url(assets/fonts/Baars.ttf) format("opentype");
}

@font-face {
  font-family: Genera;
  src: url(assets/fonts/Genera.ttf) format("opentype");
}

* {
  font-family: Roboto-Regular, Lato-Regular, Roboto-Light, Arial, Helvetica, sans-serif;
}

.animation-class {
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Margem necessária para o conteúdo não ficar embaixo do header ou footer */

.margem-content {
  padding-bottom: 100px;
  padding-top: 110px;
}

/* Estilo para o título das páginas */

.titulo-pagina {
  font-family: Genera, Baars, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #24292E;
  margin-bottom: .2rem;
}

/* Estilo para sublinhado em títulos das páginas */

.underline {
  content: '';
  border-top: 2px solid rgba(59, 89, 152, 1);
  width: 6%;
  display: block;
  margin: 0 auto;
}

.botao-snippet {
  background-color: rgba(59, 89, 152, 1) !important;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Genera, Arial, sans-serif;
  font-size: 20px;
  line-height: 1em;
  margin: 15px 40px;
  outline: none;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 18px 10px 18px !important;
}

.botao-snippet:before, .botao-snippet:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.botao-snippet:before {
  border-color: #2867B2 !important;
  border-top-width: 2px;
  left: 0px;
  top: -5px;
}

.botao-snippet:after {
  border-bottom-width: 2px;
  border-color: #2867B2 !important;
  bottom: -5px;
  right: 0px;
}

.botao-snippet:hover, .botao-snippet.hover {
  background-color: #2867B2 !important;
}

.botao-snippet:hover:before, .botao-snippet.hover:before, .botao-snippet:hover:after, .botao-snippet.hover:after {
  height: 100%;
  width: 100%;
}
